.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quiz_container {
  margin: 0;
  position: absolute;
  top: 25%;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
  /* max-width: 700px; */
  /* height: auto; */
}

.quiz_container_h2,
.quiz_container_h1 {
  background-color: purple;
  padding: 1rem;
  text-align: center;
  margin: 0;
}
.quiz_container_h1 {
  background-color: lightslategray;
  padding: 1rem;
}

.question {
  list-style-type: none;
  font-size: 1.2rem;
  cursor: pointer;
}
.question_h1 {
  padding: 1rem;
}
.answer {
  margin: 2rem 2rem;
}
.answer_input {
  text-align: left;
  width: max-content;
  margin-left: 1rem;
}
.answer_label {
  font-size: 1.3rem;
  margin: 5px;
  margin-left: 20px;
}

.player_name {
  color: darkblue;
  font-size: 2rem;
  padding: 10px;
  width: auto;
  text-align: center;
  background-color: lightgreen;
  border-radius: 10px;
  border: 3px solid black;
}
.submitBtm {
  width: 100%;
  font-size: 2rem;
}
.homePageBtm {
  position: fixed;
  right: 0;
  top: 0;
}

@media only screen and (max-width: 920px) {
  .player_name {
    color: darkblue;
    font-size: 1rem;
    padding: 10px;
    width: auto;
    text-align: center;
    background-color: lightgreen;
    border-radius: 10px;
    border: 3px solid black;
  }
}