.signup_container{
    margin:auto;
    display:flex;
    width: 500px;
    font-size: 20px;
    height: fit-content;
    margin-top: 20vh;
}
.scoreBoard_homeBtm {
    position: fixed;
    right: 0;
    top: 0;
  }